<p-card class="tamanho-customizado">
  <input pInputText placeholder="Username" />
  <input pInputText placeholder="Username" />
  <input pInputText placeholder="Username" />
  <input pInputText placeholder="Username" />
  <p-button>TESTANDO P BUTTON</p-button>
  <p>Conteúdo do card.</p>
</p-card>

<p-dropdown>
  DROP DOWN
</p-dropdown>

<p-inputGroup>
  <p-inputGroupAddon>
      <i class="pi pi-user"></i>
  </p-inputGroupAddon>
  <input pInputText placeholder="Username" />
</p-inputGroup>


<!-- <div class="grid">
  <div class="col-12">
    <p-card styleClass="mt-10" header="TEMPERATURA">


    <div
      class="flex justify-content-center align-content-center text-align-center">
          <form [formGroup]="formularioTemperatura" (ngSubmit)="onSubmitTemperatura()">

              <div class="flex justify-content-center align-content-center text-align-center mt-5" >
                <input type="number" pInputText placeholder="digite a temperatura" formControlName="temperatura1"/>
                <input type="text" pInputText formControlName="temperatura1" />
              </div>

              <div class="flex justify-content-center align-content-center text-align-center mt-5" >

              <input type="text" pInputText formControlName="temperatura1" />
            </div>

              <div class="flex justify-content-center align-content-center text-align-center mt-5">
                <input type="number" pInputText placeholder="digite a " formControlName="temperatura2" readonly/>
              </div>
          </form>

    </div>
  </p-card>


    </div>
</div>  -->



